<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="3.0.0" targetFramework="net472" />
  <package id="Caliburn.Micro" version="4.0.173" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="4.0.173" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.4" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.3.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="MonoGame.Framework.DesktopGL" version="3.8.0.1641" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
</packages>